@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body {
  font-family: 'Merriweather', serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* banner section start here */
.banner-container {
  max-width: 1320px;
  min-height: 600px;

  margin: 0 auto;
  margin-top: 20px;
  background-image: url(images/Banner\ Image.png);
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
.banner-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.banner-contain h2 {
  color: white;
  font-size: 32px;
  font-weight: 400px;
}
.banner-contain p {
  color: white;
  font-size: 72px;
  font-weight: 900px;
}

/* second section start */
.second-container {
  width: 802.9px;
  height: 806px;
  margin: 0 auto;
  margin-top: 180px;
}
.secont-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secont-container-text h1 {
  font-size: 88px;
  font-weight: 700;
  color: rgb(255, 0, 0);
}
.secont-container-text p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
}
.secont-container-text h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 6px;
}
.second-container-img {
  width: 802.9px;
  height: 500px;
  margin-top: 30px;
}
/* second section end */

/* third section start */

.third-container {
  width: 1320px;
  height: 600px;
  margin: 0 auto;

  margin-top: 180px;
  display: flex;
  background-image: url(images/Vectorrr.png);
  background-position: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
.left-contain {
  width: 50%;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.left-contain h2 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
}
.left-contain p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}
#third-button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 800;
  margin-top: 50px;
  margin-right: 70%;
}
.right-contain {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-contain img {
  width: 349.16px;
  height: 464.65px;
  margin-top: 50px;
}
/* third section end */

/* fourth section start */
.fourth-container {
  width: 1320px;
  height: 482px;
  margin: 0 auto;
  margin-top: 80px;
  background-color: rgba(255, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fourth-text-container {
  width: 549px;
  height: 168px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 200px;
}
.text-color {
  color: rgb(255, 0, 0);
}
.fourth-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 167px;
  height: 56px;
}
.fourth-button button {
  background-color: rgb(255, 0, 0);
  color: white;
}
/* fourth container end */

/* fifth container start */

.fifth-container {
  width: 1320px;
  height: 463px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  background-color: rgba(255, 0, 0, 0.05);
}
.fifth-left-contain {
  width: 33.3%;
  height: 463px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.fifth-center-contain {
  width: 33.3%;
  height: 463px;
  margin: 0 auto;
}

.fifth-right-contain {
  width: 33.3%;
  height: 463px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.fifth-left-contain h4 {
  font-weight: 500px;
  font-size: 24px;
  color: rgb(255, 0, 0);
}
.fifth-left-contain h2 {
  font-weight: 900px;
  font-size: 48px;
}
.fourth-left-contain {
  font-weight: 400px;
  font-size: 2px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
}
.fifth-left-contain h4 h2 {
  margin-right: ;
}
.fifth-center-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.fifth-right-contain h3 {
  color: rgb(255, 0, 0);
  font-size: 48px;
  font-weight: 700px;
  margin-right: auto;
}
.fifth-right-contain {
  color: rgba(7, 2, 17, 0.6);
  font-weight: 400px;
  font-size: 20px;
}
.fifth-right-contain img {
  margin-right: auto;
}
